<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<style type="text/css">
			html,
			body {
				width: 100%;
				margin: 0;
				padding: 0;
			}
			
			h1 {
				text-align: center;
			}
			
			img {
				float: left;
				padding-right: 10px;
				height: 300px;
			}


		</style>
	</head>

	<body>
		<div>
			<h1 style="margin-top: 0;">本部介绍</h1>
		</div>

		<div>
			<p>无人机高光谱成像系统由高光谱成像仪，云台及旋翼无人机组成，是一种轻小型推扫式高光谱成像系统，在精准农业，林业监测，水环境监测，灾害评估等领域具有十分广泛的应用前景。</p>
			
			<h2>空白页</h2>

		</div>
	</body>


</html>